


<div class="box">
    <h3>Create new sandbox game</h3>
    
    <div class="mb-3">
        <label for="serverUrlInput" class="form-label">Server url</label>
        <input type="text" class="form-control" id="serverUrlInput" placeholder="Server url" @bind="serverUrl">
    </div>
    
    <div class="mb-3">
        <label for="nameInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Enter your name." value="@name">
    </div>

    <div class="mb-3">
        <label for="numberOfBotsInput" class="form-label">Number of bots: (0-10)</label>
        <input type="number" class="form-control" id="numberOfBotsInput" value="3">
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="actionDelayCheck">
        <label class="form-check-label" for="actionDelayCheck">
            Use 10X shorter action delays
        </label>
    </div>

    <div class="mb-3">
        <button @onclick="Join" class="btn btn-primary">Create and Join</button>
    </div>
</div>

@code {
    string token = "";
    string name = "Bob";
    string serverUrl = " dsadahttps://robobobot.azurewebsites.net";
     
    [Parameter]
    public EventCallback<RobobobotClient> Client { get; set; }
    
    [Parameter]
    public EventCallback<string> Token { get; set; }
    
    [Parameter]
    public EventCallback<string> Status { get; set; }
    
    [Parameter]
    public EventCallback OnConnected { get; set; }
    
    private async Task Join()
    {
        await Status.InvokeAsync("Joining sandbox");
        var client = new RobobobotClient(serverUrl);
        var response = await client.CreateSandboxGame(name, new BattleFieldOptions(Predefined: GenerateMap()));
        await Token.InvokeAsync(response.PlayerToken);
        await Client.InvokeAsync(client);
        
        await OnConnected.InvokeAsync();

        await Status.InvokeAsync($"Joining sandbox done (ready)");
        await Status.InvokeAsync($"PlayerToken: <pre>{response.PlayerToken}</pre>");
        await Status.InvokeAsync($"BattleToken: <pre>{response.BattleToken}</pre>");
    }
    
    private string GenerateMap()
    {

        var map = @".....MMMMMM.........
                    ....................
                    ....................
                    .......S............
                    .........S..........
                    ..........MM........
                    ...........M........
                    ....................
                    ........MMMMMM......
                    ....................
                    .S..M...........M...
                    .S..............M...
                    .S....SSSS..........
                    .S..................
                    ...MMMM.............
                    ..........FFFFF.....
                    ..FFFFFFFFFF..FFF...
                    ....................

                    START_POSITIONS
                    - 10,10
                    - 1,3
                    - 5,9
                    - 17,7
                    - 6,18
                    - 10,16
                    - 3,5
                    - 12,6";

        // Remove whitespace
        map = Regex.Replace(map, @"[^\S\r\n]+", "");
        
        return map;
    }
}