@inherits LayoutComponentBase

<PageTitle>Robobobot.DeepStateWeb</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/johankson/robobobot" target="_blank">GitHub Repo</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>