@page "/"

<PageTitle>Index</PageTitle>

<h1>Control the battle!</h1>

<p>Welcome to the Deep State Web Site! This is the one-stop-shop for administration of battles!</p>


<h2>What is this?</h2>

<p>
    This is a game where you use code to control a tank by interacting with a REST-API. Choose any
    framework/language you'd like and make you bot fight other bots.</p>

<h2>How do I run it?</h2>

<p>
    Clone the <a href="https://github.com/johankson/robobobot">repo</a> and run the (soon to be done) server docker 
    container locally on your machine. Sadly, there is no public servers available yet. The server will expose
    the REST API that you will interact with.
</p>

<h2>Suggested roadmap to becoming a champion</h2>
   
    <ul>
        <li>Checkout the <NavLink href="/sandbox">sandbox</NavLink> to manually control a bot and see what calls it makes.</li>
        <li>Use one of the clients for your language or write REST calls directly. The sandbox can help you out here as well.</li>
    </ul>

<h2>Train your bots</h2>

<p>Don't go out into battle without training your bots!</p>
<p>Newbie? Start by using the <NavLink href="/sandbox">sandbox</NavLink> to get a feel of the actions you can use.</p>