<div class="box">
    <h3>Log</h3>
    
    @foreach (var item in items.Take(30))
    {
        <div>@item</div>
    }
</div>

@code {
    List<string> items = new();
    
    public void WriteLine(string value)
    {
        items.Insert(0, value);
        StateHasChanged();
    }

    public void WriteSeparator()
    {
        items.Insert(0, "--------------------");
        StateHasChanged();
    }
}